body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 600;
    margin-left: 80px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}

.container {
    max-width: 600px;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#search-container {
    display: flex;
    margin: 20px;
    margin-bottom: 20px;
}

#search-input {
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    width: 250px;
    height: 70px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: rgb(230, 239, 246);
    font-family: Georgia, serif;
    font-size: 26px;
    font-weight: 400;
}

#search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: Georgia, serif;
    font-size: 26px;
    font-weight: 400;
}

#weather-container, #forecast-container {
    text-align: center;
    margin: 2px auto;
}

#weather-container h2, #forecast-container h2 {
    margin-top: 0;
}

#weather-icon {
    display: block;
    margin: 2px  auto; 
    padding: 5px;
    width: 50px auto; 
}
#weather-icon1 {
    display: block;
    margin: 0 auto; 
    padding: 2px;
}

.forecast-item {
    margin-bottom: 20px;
    margin-right: 200px;
}

.forecast-item p {
    margin: 5px 0;
}
